Django==1.8.9
django-jsonfield==0.9.19
django-crontab==0.7.1
python-dateutil==1.5
schema==0.6.6
django-jet==1.0.7
pycrypto==2.6.1
google-api-python-client==1.4.1
djangorestframework==3.3.2
django-filter==1.1.0
django-storages==1.6.6
requests==2.10.0